:80 {
    # Bloqueia o acesso a arquivos sensíveis ocultos
    @sensitive {
        path /.env*
        path /.git*
        path /wp-config*
        path /config.json
        path /*.sql
        path /*.bak
        path /id_rsa
        path /.aws/*
        path /.kube/*
    }
    respond @sensitive 403

    # Configuração padrão do Nixpacks para Vite/React
    root * /app/dist
    
    # Compressão para performance
    encode gzip

    # Roteamento SPA
    try_files {path} /index.html
    
    # MIME Types Customizados (Crucial para contornar Strict MIME checking no navegador)
    mime {
        .tsx application/javascript
        .ts  application/javascript
        .jsx application/javascript
    }
    
    # Servir arquivos estáticos normalmente
    file_server
}
